<!DOCTYPE html>
{#
This is the defualt layout for all pages, it just contains the basic header information and meta data that can be passed back in other html templates
#}
<html>
<head>
<title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<header>
<h1>{{ self.title() }}</h1>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="{{url_for('site.profile', nickname=current_user.nickname)}}">Profile</a></li>
  {% if current_user.is_anonymous() %}
     <li><a href="{{url_for('site.register')}}">Register</a> / <a href="{{url_for('site.login')}}">Log In</a></li>
  {% endif %}
  {% if current_user.is_authenticated() %}
    <li><a href="{{url_for('site.logout')}}">Logout</a></li>
  {% endif %}
</ul>
</nav>
</header>
{% set messages = get_flashed_messages() %}
{% if messages %}
<section>
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
</section>
{% endif %}
<section>
{% block content %}{% endblock %}
</section>
<footer>
</footer>
</body>
</html>
